@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@theme {
  --font-sans: var(--font-plusJakartaSans);
  --font-mono: var(--font-plusJakartaSans);
  --font-syne: var(--font-syne);

  /* light */
  --color-gray-50: #f2f2f2;
  --color-gray-100: #e6e6e6;
  --color-gray-200: #cccccc;
  --color-gray-300: #b3b3b3;
  --color-gray-400: #999999;
  --color-gray-500: #f3f3f3;
  --color-gray-600: #666666;
  --color-gray-700: #4d4d4d;
  --color-gray-800: #333333;
  --color-gray-900: #1a1a1a;
  --color-gray-950: #0d0d0d;

  /* dark */
  --color-green-50: #f2f4f1;
  --color-green-100: #e5e8e3;
  --color-green-200: #cbd1c7;
  --color-green-300: #b2bbaa;
  --color-green-400: #98a48e;
  --color-green-500: #2a2f26;
  --color-green-600: #65715b;
  --color-green-700: #4c5544;
  --color-green-800: #32382e;
  --color-green-900: #191c17;
  --color-green-950: #0d0e0b;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply min-h-svh lg:min-h-screen;
}

/* Custom animation for dark mode toggle ripples */
@keyframes growAndFade {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
