@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@theme {
  --font-sans: var(--font-plusJakartaSans);
  --font-mono: var(--font-plusJakartaSans);
  --font-syne: var(--font-syne);

  /* light */
  --color-gray-50: #f2f2f2;
  --color-gray-100: #e6e6e6;
  --color-gray-200: #cccccc;
  --color-gray-300: #b3b3b3;
  --color-gray-400: #999999;
  --color-gray-500: #f3f3f3;
  --color-gray-600: #666666;
  --color-gray-700: #4d4d4d;
  --color-gray-800: #333333;
  --color-gray-900: #1a1a1a;
  --color-gray-950: #0d0d0d;

  /* dark */
  --color-green-50: #f2f4f1;
  --color-green-100: #e5e8e3;
  --color-green-200: #cbd1c7;
  --color-green-300: #b2bbaa;
  --color-green-400: #98a48e;
  --color-green-500: #2a2f26;
  --color-green-600: #65715b;
  --color-green-700: #4c5544;
  --color-green-800: #32382e;
  --color-green-900: #191c17;
  --color-green-950: #0d0e0b;

  --text-scale-0: 0.875rem;
  /* Step -2: 12px → 12px */
  --text-scale--2: clamp(0.75rem, 0.75rem + 0vi, 0.75rem);
  /* Step -1: 14px → 14px */
  --text-scale--1: clamp(0.875rem, 0.875rem + 0vi, 0.875rem);
  /* Step 0: 16px → 16px */
  --text-scale-0: clamp(1rem, 1rem + 0vi, 1rem);
  /* Step 1: 20px → 20px */
  --text-scale-1: clamp(1.25rem, 1.25rem + 0vi, 1.25rem);
  /* Step 2: 24px → 24px */
  --text-scale-2: clamp(1.5rem, 1.5rem + 0vi, 1.5rem);
  /* Step 3: 28px → 28px */
  --text-scale-3: clamp(1.75rem, 1.75rem + 0vi, 1.75rem);
  /* Step 4: 33.1776px → 33.1776px */
  --text-scale-4: clamp(2.0736rem, 2.0736rem + 0vi, 2.0736rem);
  /* Step 5: 40px → 40px */
  --text-scale-5: clamp(2.5rem, 2.5rem + 0vi, 2.5rem);
  /* Step 6: 48px →  48px*/
  --text-scale-6: clamp(3rem, 3rem + 0vi, 3rem);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply min-h-svh lg:min-h-screen;
}

.link {
  position: relative;
  padding: 0.2rem 0rem;

  &:after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0%;
    height: 2.5px;
    content: '';
    opacity: 0;
    background: var(--color-gray-800);
    transition: all 0.3s ease;
  }

  &:hover:after {
    width: 100%;
    opacity: 0.7;
  }

  &:active:after {
    opacity: 1;
    background: var(--color-gray-600);
  }

  /* Dark mode support */
  .dark & {
    &:after {
      background: var(--color-green-200);
    }

    &:hover:after {
      background: var(--color-green-100);
    }

    &:active:after {
      background: var(--color-green-50);
    }
  }
}

/* Custom animation for dark mode toggle ripples */
@keyframes growAndFade {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
